html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  border: 1px solid #666;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin: 20px auto;
  width: 600px;
  padding: 20px;
}

img { float: right; margin: 10px; }

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

